* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 44, 71);
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-size: 120px;
    text-shadow: -4px -4px rgb(165, 33, 108);
    position: relative;
    top: 4rem;
}

#flex {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 25rem;

}

.drum {
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
    border: 10px solid rgb(122, 150, 176);
    color: rgb(134, 74, 127);
    font-size: 60px;
    font-weight: 900;
}

footer {
    position: relative;
    top: 700px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
}